body {
    font-family:AppleSystemUIFont, sans-serif;
    height:400vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.stats {
    position:fixed;
    top:50%;
    z-index:2;
    width:30vw;
    transform:translateY(-50%);
    font-size:2vw;
    line-height:1.5;
}
.stats.blue {
    color:cornflowerblue;
    left:3vw;
}
.stats.red {
    color:crimson;
    right:3vw;
    text-align:right;
}
#blue {
    width:10vw;
    height:10vw;
    border-radius:1vw;
    margin:0 5px;
    background:cornflowerblue;
    position:relative;
}
#red {
    width:10vw;
    height:120vh;
    border-radius:1vw;
    margin:0 5px;
    background:crimson;
    position:relative;
}
#blue:before,
#red:before {
    content:"+";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:3vw;
    color:#fff;
}
.events {
    font-size:0.6em;
}
.event {
    background:#eee;
    color:#000;
    padding:0.1em 0.2em;
    border-radius:0.2em;
}
.event.on {
    background:limegreen;
}
