/**
 * Fonts
 */
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Bold.woff2') format('woff2'),
  url('../fonts/Finlandica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-BoldItalic.woff2') format('woff2'),
  url('../fonts/Finlandica-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Italic.woff2') format('woff2'),
  url('../fonts/Finlandica-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Regular.woff2') format('woff2'),
  url('../fonts/Finlandica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * Variables
 */
@import 'variables';


/**
 * Common
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: $font-family, sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}